div.css-12w0qpk.e1tzin5v2 {

    border: 2px solid #CCCCCC;
    padding: 1% 1% 0% 1%;
    border-radius: 10px;
}
/*
div.row-widget.stSelectbox {
    background-color: #339FFF;
    border: 2px solid #CCCCCC;
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
}*/

div.css-ocqkz7.e1tzin5v4 {


    padding: 1% 1% 1% 1%;
    border-radius: 10px;
}

div.css-1rvyln1.e1jwn65y3 {
    background-color: #F08080;

}

div.stSlider {
    border: 2px solid #F08080;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
}

